@font-face {
   font-family: Montserrat;
	src: url('../fonts/Montserrat.ttf');
}

@font-face {
   font-family: Verdana;
	src: url('../fonts/Verdana.ttf');
}

@font-face {
   font-family: Verdana_bold;
	src: url('../fonts/verdanab.ttf');
}