html,
body {
	height: 100vh;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

body {
	color: $black;
	@extend %text-font;
	font-size: 16px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: 'Montserrat';
}

.main {
	flex: 1 0 auto;
}

section {
	margin-bottom: 50px;
}

footer {
	background: $black;
	flex: 0 0 auto;
	color: $white;
	z-index: 1;
	a {
		color: $white;
	}
}

.footer__block {
	width: 1440px;
	padding: 60px 120px;
	margin: 0 auto;
	&-copyright {
		width: 1440px;
		padding: 30px 120px;
		margin: 0 auto;
	}
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 60px 120px;
}

.link-btn {
	padding: 14px 20px;
	border-radius: 7px;
	color: $white;
	position: relative;
   font-weight: 600;
   text-transform: uppercase;
	font-size: 14px;
}

.burger, 
.close  {
	display: none;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	font-family: Verdana;
	color: $white;
}

h2 {
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px; 
	color: $white;
	width: 790px;
}

h3 {
	color: $orange;
	font-family: Verdana;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 70px;
}

h4 {
	color: $white;
	font-family: Montserrat;
	font-size: 34px;
	font-style: normal;
	font-weight: 600;
	line-height: 46px;
	text-transform: uppercase;
}

.button__contact {
	border-radius: 7px;
	font-family: Verdana;
	background: $orange;
	border: 1px solid $orange;
	color: #fff;
	padding: 14px 40px;
	letter-spacing: 0.48px;
	cursor: pointer;
}

.button__contact:hover {
	background: linear-gradient(94deg, #DE5C28 15.82%, #EB792C 85.09%);
	transform: perspective(1000px) scale(1.03);
	transition: transform 0.2s linear;	
}

#contact-name, #contact-tel, #subject {
	width: 500px;
	padding: 0px 30px 0px 30px;
	display: flex;
	align-items: center;
	border: 1px solid rgba(222, 92, 40, 0.80);
	background: rgba(235, 121, 44, 0.10);
}

#contact-name, #contact-tel {
	height: 56px;
}

#subject {
	min-height: 150px;
	max-height: 350px;
	padding-top: 20px;
	min-width: 500px;
	max-width: 500px;
}