html,
body {
	height: 100vh;
	overflow-x: hidden;
}

a {
	cursor: pointer;
}

body {
   background: $white;
   color: $blue;
   font-family: 'HelveticaNeueCyr';
}

h2 {
   color: $blue;
   font-size: 60px;
   font-style: normal;
   font-weight: 300;
   width: 100%;
   width: 1240px;
   padding: 12px 50px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

header {
   display: flex;
   justify-content: center;
   height: 66px;
   width: 100vw;
   background: $white;
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1240px;
   padding: 12px 50px;
}


footer {
   width: 100vw;
   background-color: $blue;
   color: $white;
   padding-bottom: 160px;
   display: flex;
   justify-content: center;
}

.contact__form {
   background: $blue;
   display: flex;
   justify-content: center;
   padding: 139px 100px 100px;
}

.promo {
   position: relative;
   width: 100vw;
   background-color: $blue;
   display: flex;
   justify-content: center;
   padding: 69px 100px 162px;
}

