$white: #fff;
$blue: #0A2756;
$white-blue: #007DFE;


%title-font {
   font-family: 'Verdana';
   font-weight: 600;
   text-transform: uppercase;
 }

%text-font {
   font-family: 'Montserrat';
   font-weight: 300;
 }