$black: #3E3331;
$orange: #DE5C28;
$l-orange: #EB792C;
$d-orange: #C25125;
$gray: #827474;
$white: #E6E6E6;

%title-font {
   font-family: 'Verdana';
   font-weight: 600;
   text-transform: uppercase;
 }

%text-font {
   font-family: 'Montserrat';
   font-weight: 300;
 }