@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header__logo {
   font-size: 29px;

}

.header__menu {
   &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 543px;
   }
}

.header__menu-link {
   color: $blue;
   font-weight: normal;
}

.header__menu-link:hover {
   color: $white-blue;
}

.header__register-link {
   color: $white-blue;
   padding: 8px 30px;
   border: solid 1px $white-blue;
}

.header__register-link:hover {
   color: $white;
   background: $white-blue;
}

.header__social {
   display: flex;
   gap: 10px;
}

.header__menu-list::before {
   content: "";
   display: block;
   width: 1px;
   height: 42px;
   background-color: #C4C4C4;
   margin-right: -24px; 
 }

 .footer__container {
   justify-content: center;
 }

 .footer__contact-list ul {
   display: flex;
   flex-direction: column;
   gap: 6px;
 }

 .footer__contact-link {
   color: $white;
 }

 .footer__contact-item:nth-child(1) {
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
   text-align: center;
 }

 .footer__contact-item:nth-child(2) {
   font-size: 32px;
   font-weight: 400;
   line-height: 140%;
   text-align: center;
 }

 .footer__contact-item:nth-child(3) {
   font-size: 18px;
   font-style: normal;
   font-weight: 300;
   line-height: 140%;
   text-align: center;
   margin-top: 20px;
 }

 .footer__contact-item:nth-child(3) {
   a {
      border-bottom: 1px solid $white;
   }
 }

 .contact__form-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 60px;
 }

 .contact__form-grid {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 26px;
   width: 800px;
}

.contact__two-fields {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.contact__input {
   box-sizing: border-box;
   width: 48%;
   flex-grow: 1; 
   height: 50px;
   padding-left: 32px;
   background-color: $white;
   color: rgba(0, 0, 0, 0.50);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   border: none;
}

.contact__input:first-child {
   margin-right: 20px;
}

.contact__textarea {
   max-width: 100%;
   min-width: 100%;
   max-height: 300px;
   min-height: 120px;
   padding: 12px 32px;
   background-color: $white;
   color: rgba(0, 0, 0, 0.50);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   border: none;
}

.contact__button {
   background: $white-blue;
   color: $white;
   width: 241px;
   height: 71px;
   text-align: center;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 9.38px;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
}

.contact__button:hover {
   transition: transform 0.3s linear;
   transform: perspective(1000px) scale(1.04);
}

.contact__form-title {
   color: $white;
   font-size: 60px;
   font-style: normal;
   font-weight: 300;
   line-height: 140%;
}









@import "mobile";